In [1]:
# 라이브러리
import pandas as pd 
import numpy as np 
#시각화
import matplotlib.pyplot as plt
#경고무시
import sys
import warnings

import warnings
warnings.filterwarnings('ignore')

리눅스,맥,윈도우별 기본 폰트명 함수 만들어 두었습니다.

In [2]:
def get_font_family():
    """
    시스템 환경에 따른 기본 폰트명을 반환하는 함수
    """
    import platform
    system_name = platform.system()
    # colab 사용자는 system_name이 'Linux'로 확인

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux
        # colab에서는 runtime을 <꼭> 재시작 해야함.
        # 런타임을 재시작 하지 않고 폰트 설치를 하면 기본 설정 폰트가 로드되어 한글이 깨짐.
        !apt-get update -qq
        !apt-get install fonts-nanum -qq  > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothic"
    return font_family

In [3]:
#확인하기
get_font_family()

'Malgun Gothic'

In [4]:
# 시각화를 위한 폰트설정
# 위에서 만든 함수를 통해 시스템 폰트를 불러와서 font_family 라는 변수에 할당.
a = get_font_family()
# 폰트설정
import matplotlib.pyplot as plt 
plt.rc("font", family = a)
# 마이너스폰트 설정
plt.rc("axes", unicode_minus=False)
# ggplot으로 그래프 스타일 설정 / 개인 자유
plt.style.use("ggplot")

=========================================================================

# 원티드DB 국민연금 사업장 데이터
 - 원티드에서 실제로 사용 중인 데이터로, 여러 회사들과 회사들이 납부한 국민연금 보험료 정보 데이터


### - 데이터 정보
 - 회사 수 : 약 5000개
 - 월별 데이터 : 직원 수, 국민연금 보험료(인원 수에 대한 상한선_최대고지금액이 존재함)
 - 년 단위 데이터: 매출액(천원 단위)
 
### - EDA 목표
 - 위 데이터들의 분포(직원 수, 매출액, 보험료 등)
 - 몇몇 회사를 선택하여 데이터 흐름 살펴보기
 - 데이터 사이의 관계에 대해 유의미한 결론을 찾아봅시다.(아이디어 수립->EDA를 통해 관찰)

=========================================================================

In [12]:
# 데이터 불러오기

df = pd.read_csv("company_nps_data.csv", encoding='cp949')
df.head()

     회사ID      연매출액    년도   월  월별_연금보험료  월별_직원수
0  233757  41688077  2018   7   8912380      36
1  123464   1760695  2018   3    942380       5
2  342124   3221341  2018   7    781180       4
3  386420   4815584  2015  11   3795900      14
4  129243   9799736  2018  10  40724680     151

In [13]:
df.shape

(99801, 6)